<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kids & comics-collection</title>
    <link rel="stylesheet" href="./asserts/css/main.css">
    <link rel="stylesheet" href="./asserts/css/fiction.css">
</head>

<body>
    <!-- include for header file-->
    <%- include('./common/header.ejs') %>

        <!-- page navigation -->
        <div class="container-fluid">
            <div class="row fiction-navigation">
                <div class="col-12 mt-5">
                    <h1 class="text-center text-white">Kids & Comics</h1>
                    <h5 class="text-center text-white">Home/Collection/Kids & Comics</h5>
                </div>
            </div>
        </div>

        <!--  -->
        <section class="fiction">
            <div class="container-fluid">
                <h1 class="text-center collection-heading">Kids & Comics</h1>
                <div class="row">
                    <div class="col-3">
                        <%- include('./common/filter.ejs') %>
                    </div>

                    <div class="col-9">
                        <div class="row">
                            <!-- first book -->
                            <!-- <div class="col-md-4 col-sm-6 mt-3">
                                <div class="card text-center card1">
                                    <img src="./asserts/images/kids.jpg" class="card-img-top" style="height: 300px" />
                                    <div class="card-body">
                                        <p class="card-title">Grumpy Monkey</p>
                                        <h6>By: Suzanne Lang</h6>
                                        <p>Price: ₹700</p>

                                        <span class="review-icon">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div> -->

                            <% if(viewData.length> 0){ %>
                                <% for(var i=0; i < viewData.length; i++){%>
                            <div class="col-md-4 col-sm-6 mt-3">
                                <div class="card text-center card1">
                                    <img src="/<%= viewData[i].image %>" class="card-img-top" style="height: 300px" />
                                    <div class="card-body">
                                        <p class="card-title text-uppercase font-weight-bold">
                                            <%= viewData[i].bookName %>
                                        </p>
                                        <h6>By: <%= viewData[i].bookAuthor %> </h6>
                                        <p>Price: ₹<%= viewData[i].bookPrice %></p>
                                        <p>BookId: <%= viewData[i].bookId %></p>
    
                                        <!-- <span class="review-icon">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </span> -->
                                    </div>
                                </div>
                            </div>
                            <%} %>
                                    <%} else{%> No Record Found <%} %>

                            <!-- second book
                            <div class="col-md-4 col-sm-6 mt-3">
                                <div class="card text-center card1">
                                    <img src="./asserts/images/kids1.jpg" class="card-img-top" style="height: 300px" />
                                    <div class="card-body">
                                        <p class="card-title">Dog Man</p>
                                        <h6>By: Dav Pilkey</h6>
                                        <p>Price: ₹800</p>

                                        <span class="review-icon">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            third book
                            <div class="col-md-4 col-sm-6 mt-3">
                                <div class="card text-center card1">
                                    <img src="./asserts/images/kids2.jpg" class="card-img-top" style="height: 300px" />
                                    <div class="card-body">
                                        <p class="card-title">New kid</p>
                                        <h6>By: Jerry Craft</h6>
                                        <p>Price: ₹900</p>

                                        <span class="review-icon">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            fourth book
                            <div class="col-md-4 col-sm-6 mt-3">
                                <div class="card text-center card1">
                                    <img src="./asserts/images/kids3.jpg" class="card-img-top" style="height: 300px" />
                                    <div class="card-body">
                                        <p class="card-title">Investigators</p>
                                        <h6>By: John Patrick Green</h6>
                                        <p>Price: ₹1200</p>

                                        <span class="review-icon">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            fifth book
                            <div class="col-md-4 col-sm-6 mt-3">
                                <div class="card text-center card1">
                                    <img src="./asserts/images/kids4.jpg" class="card-img-top" style="height: 300px" />
                                    <div class="card-body">
                                        <p class="card-title">Crunch</p>
                                        <h6>By: Kayla Miller</h6>
                                        <p>Price: ₹800</p>

                                        <span class="review-icon">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            sixth book
                            <div class="col-md-4 col-sm-6 mt-3">
                                <div class="card text-center card1">
                                    <img src="./asserts/images/kids5.webp" class="card-img-top" style="height: 300px" />
                                    <div class="card-body">
                                        <p class="card-title"> Spider-Man</p>
                                        <h6>Publisher: Marvel</h6>
                                        <p>Price: ₹700</p>

                                        <span class="review-icon">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- include for footer file-->
        <footer>
            <%- include('./common/footer.ejs') %>
        </footer>
</body>

</html>